.contact-section {
  padding: 40px;
  background: linear-gradient(
    90deg,
    rgb(49, 49, 117),
    rgb(51, 106, 162),
    rgb(75, 218, 218)
  );
  min-height: 100vh;
  color: #fff;
}

.contact-section h1 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-section p {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(88, 255, 247);
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  background: #ffffff31;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.295);
}

.contact-info {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 8px;
  color: #333;
}

.contact-form {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #003d80;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
}
