body {
  font-family: "Poppins";
  background: #f2f4f8;
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(
    90deg,
    rgb(49, 49, 117),
    rgb(51, 106, 162),
    rgb(75, 218, 218)
  );
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
aside {
  /* position: absolute; */
  /* background-color: #111827; */
  width: 250px;
  background: linear-gradient(
    90deg,
    rgb(49, 49, 117),
    rgb(51, 106, 162),
    rgb(75, 218, 218)
  );
  color: #ddd;
  border-radius: 0 20px 20px 0;
  padding: 15px;
  flex: none;
  margin-top: 10px;
}
#logo {
  width: 200px;
  filter: brightness(100);
}
#imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#profile_image {
  width: 150px;
  border-radius: 100%;
  border: 5px solid whitesmoke;
}
#designation {
  text-align: center;
}
#designation h3 {
  margin-top: 5px;
  margin-bottom: -17px;
}
aside h2 {
  background: #ffffff3c;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ddd;
}

.logout {
  background: #ffffff81;
  padding: 10px;
  border-radius: 10px;
  color: rgb(39, 39, 39);
  transition: ease-in-out 0.3s;
}
.logout:hover {
  background: #ff5353;
  color: #fff;
}

main {
  display: flex;
  gap: 20px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.card form {
  display: flex;
  flex-direction: column;
  width: 45vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.btn,
button {
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  background: #111827;
  color: #fff;
  font-size: 12px;
}

.danger {
  background: #dc2626;
}

input,
textarea,
select {
  padding: 8px;
  margin: 5px 0;
}

/* studens table design */

table {
  background-color: #fff;
  color: #111827;
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: #e7f0fd;
  border-radius: 10px;
}
thead {
  text-transform: capitalize;
}
td a {
  color: blue;
}
