* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --primary: #003a8f;
  --secondary: #f2a900;
  --dark: #1a1a1a;
  --light: #ffffff;
  --gray: #f4f4f4;

  --primary-blue: #10357a;
  --indigo: #6affd5;
  --violet: #619cdb;
  --cyan: #38bdf8;
  --card-bg: #f8fafc;
  --text-dark: #0f172a;
  --text-light: #ffffff;
}
body {
  background: #f9fafb;
  color: #111827;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
}
.nav-links a {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 500;
}

.btn {
  background: #2563eb;
  padding: 8px 14px;
  border-radius: 5px;
  color: #fff;
}

.hero {
  margin-bottom: 30px;
  height: 85vh;
  background: linear-gradient(rgba(0, 58, 143, 0.1), rgba(0, 57, 143, 0.912)),
    url("../images/vedic_college.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: "Playfair Display";
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #d1d5db;
}

.hero-buttons a {
  margin: 0 10px;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.primary-btn {
  background: #2563eb;
  color: #fff;
}

.secondary-btn {
  background: #e5e7eb;
  color: #111827;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.section.light {
  background: #f3f4f6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.news-list {
  list-style: none;
  margin-top: 20px;
}

.news-list li {
  margin: 10px 0;
  font-size: 16px;
}

/* .footer {
  background: #111827;
  color: #9ca3af;
  text-align: center;
  padding: 20px;
} */
.slider {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 400px;
}

.slide {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: none;
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}
